#gitStatus{
	padding:1em 2em;
}

th {
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
}

.status_uptodate{
	color:#3FBF7F;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
}
.status_localAhead{
	color:#BF3FBF;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
}
.status_localBehind{
	color:#7F3FBF;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
}
.status_conflict{
	color:#BF3F3F;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
}
.status_local_non_existant{
	color:#0C35A6;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
}
.status_remote_non_existant{
	color:#A6730C;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
}
.status_does_not_exist{
	color:#BF3F3F;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
}
.status_exist{
	color:#3FBF7F;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
}
.status_remote_invalid{
	color:#BF3F3F;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
}