<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>CED2AR Main</display-name>
	
	<!-- Web endpoints -->
	<servlet>
		<servlet-name>mappings</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
			/WEB-INF/mappings.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mappings</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!--  DispatcherServlet is required for OAUTH2-->
	<listener>
	    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Context Load Listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/context.xml</param-value>
	</context-param>
	<context-param>
	    <param-name>buildTimeStamp</param-name>
	    <param-value>${timestamp}</param-value>
	</context-param>

	<!-- Servlet for /rest/ (read only REST API) -->
	<servlet>
		<servlet-name>RestletServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>edu.ncrn.cornell.ced2ar.api.Main</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestletServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<!-- Servlet for /erest/ (editing REST API) -->
	<servlet>
		<servlet-name>RestletServletE</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>edu.ncrn.cornell.ced2ar.eapi.Main</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestletServletE</servlet-name>
		<url-pattern>/erest/*</url-pattern>
	</servlet-mapping>

	<!-- Security Filter--> 
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- IP address filtering to restrict to localhost -->
	<filter>
		<filter-name>addressFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>addressFilter</filter-name>
		<url-pattern>/erest/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<!--  config page may now be accessed from anywhere. 
	<filter-mapping>
		<filter-name>addressFilter</filter-name>
		<url-pattern>/config/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping> 
	-->
	<!-- Make for all endpoints in roots profile -->
	<!--
	<filter-mapping>
		<filter-name>addressFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	-->
	
	<!--Startup check for BaseX -->
	<filter>
		<filter-name>baseXCheck</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>baseXCheck</filter-name>
		<url-pattern>/rest/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>baseXCheck</filter-name>
		<url-pattern>/erest/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	
	
<!-- Mappings to file extensions allowed -->
	<!-- Web/markup -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.xsd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.txt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.pdf</url-pattern>
	</servlet-mapping>

	<!-- Config files -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.properties</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.map</url-pattern>
	</servlet-mapping>
	
	
	<!-- Mappings to error page -->
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/errors/401.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/errors/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/errors/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/errors/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/errors/500.jsp</location>
	</error-page>

	<!-- Trim some white space in JSP output -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>
</web-app>